.ipynb_checkpoints
figures

website
# Byte-compiled / optimized / DLL files
test/results
__pycache__/
*.py[cod]

# C extensions
*.so

# fs
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
docs/ms/MotionClouds.aux
docs/ms/MotionClouds.bbl
docs/ms/MotionClouds.bib
docs/ms/MotionClouds.blg
docs/ms/MotionClouds.fdb_latexmk
docs/ms/MotionClouds.fls
docs/ms/MotionClouds.out
docs/files/SupplementalMovie9.mp4
docs/files/SupplementalMovie8.mp4
docs/files/SupplementalMovie7.mp4
docs/files/SupplementalMovie6.mp4
docs/files/SupplementalMovie5.mp4
docs/files/SupplementalMovie4.mp4
docs/files/SupplementalMovie3.mp4
docs/files/SupplementalMovie2.mp4
docs/files/SupplementalMovie1.mp4
docs/files/morphing-B_angle-1_0_cube.png
docs/files/morphing-B_angle-1_0.png
docs/files/morphing-B_angle-10_0_cube.png
docs/files/morphing-B_angle-10_0.png
docs/files/morphing-B_angle-0_1_cube.png
docs/files/morphing-B_angle-0_1.png
docs/files/montypython.npy.mp4
docs/files/grating-rdk_cube.png
docs/files/grating-rdk.png
docs/files/grating-noise_cube.png
docs/files/grating-noise.png
docs/files/grating-noise.mp4
docs/files/grating-impulse_cube.png
docs/files/figure5C.png
docs/files/figure5B.png
docs/files/figure5A.png
docs/files/figure5.pdf
docs/files/figure4C.png
docs/files/figure4B.png
docs/files/figure4A.png
docs/files/figure4.pdf
docs/files/figure3C.png
docs/files/figure3B.png
docs/files/figure3A.png
docs/files/figure3.pdf
docs/files/figure2C.png
docs/files/figure2B.png
docs/files/figure2A.png
docs/files/figure2.pdf
docs/files/figure1C.png
docs/files/figure1B.png
docs/files/figure1A.png
docs/files/figure1.pdf
docs/files/aperture_cube.png
docs/files/aperture.png
